* {
    background-color: bisque;
}
h1 {
    font-size: 4em;
    color: blue;
    margin: 20px;
}

nav {
    text-align: center;
}
li{
    font-size: 2em;
    display: inline-block;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}